
<div class="col-sm-6">
	<H3 class="header">Welcome Back
		{{user.firstName}},{{user.lastName}}</H3>
</div>
<div class="col-sm-offset-3 col-sm-3">
	<h4>
		<a href="/#/add-expenditure">Add an expenditure</a>
	</h4>
	<h4>
		<a data-ng-click="logout()" href="#/">Logout</a>
	</h4>
	<h4>
		<a href="/#/lookupType">Lookup setting</a>
	</h4>
</div>

<div class="col-sm-12">
	<h4 class="text-red">Total Spent Amount : {{spentAmount}}</h4>
	<h4 class="btn btn-link"
		data-ng-click="exportToExcel('#tableToExport')">Export to Excel</h4>
</div>
<div class="col-sm-6">

	<h4>
		<a>Pick a month:</a> <input id="dateInput" type="month" name="input"
			data-ng-model="date.value" placeholder="yyyy-MM" min="2018-01"
			required data-ng-change="searchAllExpenditureByUserNameMonthAndYear()"  onkeydown="return false" />
	</h4>
</div>

<div class="col-sm-11" id="tableToExport">
	<table class="table table-bordered table-hover table-striped">
		<thead>
			<tr class="footer-lightblue">
				<th>DATE</th>
				<th data-ng-repeat="header in grid.header track by $index">{{header}}</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="row in grid.body track by $index">
				<td>{{row.date}}</td>
				<td data-ng-repeat="exp in row.expTypes track by $index"
					title="{{exp.comment}}"><a class="btn btn-link" href="">{{exp.amount}}</a></td>
			</tr>
			<tr class="footer-lightblue">
				<td>Total</td>
				<td data-ng-repeat="footer in grid.footer track by $index">{{footer.amount}}</td>
			</tr>

		</tbody>
	</table>
</div>

