<div class="generic-container">
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">
			<span class="lead">Login </span>
		</div>
		<div class="panel-body">
			<div class="formcontainer">

				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="uname">User Name</label>
						<div class="col-md-8">
							<input type="text" data-ng-model="user.userName" id="uname"
								class="username form-control input-sm"
								placeholder="Enter your username" required ng-minlength="4" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="uname">Password</label>
						<div class="col-md-8">
							<input type="password" data-ng-model="user.password" id="password"
								class="password form-control input-sm"
								placeholder="Enter your password" required ng-minlength="5" />
						</div>
					</div>
				</div>
				 <div class="row">
	                    <div class="form-actions floatRight">	                     
	                        <button type="button" data-ng-click="login()" class="btn btn-primary btn-sm" >Login</button>
	                        <button type="button" data-ng-click="cancel()" class="btn btn-warning btn-sm">Cancel</button>
	                    </div>
	                </div>
			</div>
		</div>
	</div>
</div>